0.json
{
  "name": "Telegram to Sheets - Input Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Ambil data dari Telegram dan format untuk sheet\nconst items = $input.all();\nconst message = items[0].json.message;\n\n// Handle jika tidak ada text (misal foto/sticker)\nconst promptText = message.text || message.caption || '[Non-text message]';\n\nreturn [{\n  id: Date.now().toString(),\n  prompt: promptText,\n  ratio: 'landscape',\n  duration: '8s', \n  status: 'PENDING',\n  operation_id: '',\n  output_link: '',\n  created_at: new Date().toISOString(),\n  updated_at: new Date().toISOString(),\n  telegram_user: message.from?.username || message.from?.first_name || 'Unknown',\n  telegram_chat_id: message.chat.id.toString()\n}];"
      },
      "id": "b2c3d4e5-f6g7-8901-2345-678901bcdefg",
      "name": "BuildRow",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "prompts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "prompt": "={{ $json.prompt }}",
            "ratio": "={{ $json.ratio }}",
            "duration": "={{ $json.duration }}",
            "status": "={{ $json.status }}",
            "operation_id": "={{ $json.operation_id }}",
            "output_link": "={{ $json.output_link }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "telegram_user": "={{ $json.telegram_user }}",
            "telegram_chat_id": "={{ $json.telegram_chat_id }}"
          },
          "matchingColumns": [
            "id",
            "prompt",
            "ratio", 
            "duration",
            "status",
            "operation_id",
            "output_link",
            "created_at",
            "updated_at",
            "telegram_user",
            "telegram_chat_id"
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-3456-789012cdefgh",
      "name": "Google Sheets - Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "✅ Prompt berhasil ditambahkan ke antrian!\n\n📝 Prompt: {{ $node['BuildRow'].json.prompt }}\n🆔 ID: {{ $node['BuildRow'].json.id }}\n\nVideo akan diproses dalam beberapa menit. Cek status dengan /status"
      },
      "id": "d4e5f6g7-h8i9-0123-4567-890123defghi",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "BuildRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildRow": {
      "main": [
        [
          {
            "node": "Google Sheets - Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Append": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "your-instance-id"
  },
  "id": "workflow-1",
  "tags": [
    {
      "id": "tag1",
      "name": "telegram"
    },
    {
      "id": "tag2", 
      "name": "veo2"
    }
  ]
}
